:root {
    --primary-color: #0F172A;
    /*The main page background.*/
    --secondary-color: #F8FAFC;
    /*Main headings, body text.*/
    --accent1: #10B981;
    /* Price Up percentages and successful "Buy" buttons.*/
    --accent2: #8B5CF6;
    /*Branding, call-to-action buttons, or active navigation links*/
    --accent3: #ff0000;
    /* Price down */
}

* {
    color: var(--secondary-color);
    font-family: "Raleway", sans-serif;
}

body{
    background-color: var(--primary-color);
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem 0 0;
    /* background-color: #131722; */
}

.hamburger{
    display: none;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-text{
    font-size: 2rem;
    font-weight: 700;
}

input[type="search"] {
    padding: .5rem;
    border-radius: 6px;
    border: .1px solid var(--accent2);
    transition: 0.5s ease;
    background-color: var(--primary-color);
}

input[type="search"]:hover {
    border: 1px solid var(--accent1);
}

nav {
    display: flex;
    gap: 80px;
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav .search{
    display: none;
}

.active{
    border-bottom: 2px solid var(--accent2);
}

main {
    padding: 1rem 4rem;
    padding-top: 0;
}

.portfolio-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.portfolio-hero .label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-balance {
    font-size: 3.5rem; 
    font-weight: 700;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1); 
}

.hero-right{
    display: flex;
    gap: 3rem;
    text-align: center;
}

.stat-value {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.add-asset-btn-hero{
  background: var(--accent2);  
  border: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 1rem;
  font-size: 24px;
  font-weight: 500;
}

/* Color Classes */
.up { color: var(--accent1); }    
.down { color: var(--accent3); }  

.filter-container{
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 0 1rem;
    padding-top: .5rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.filter-label{
    color: var(--accent2);
    font-weight: 600;
    margin-right: 10px;
}

.filter-btn-container{
    display: flex;
    gap: 2rem;
}

.filter-btn{
    /* font-size: large; */
    font-weight: bold;
    padding: .5rem;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
    border: 1px solid grey;
    width: 120px;
    transition: 0.5s ease-in-out;
}

.active-filter {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.filter-btn:hover{
    /* color: var(--accent1); */
    /* border-color: var(--accent1); */
    transform: scale(1.1);
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.table-container {
    width: 100%;
    padding: 0;
    border: 1px solid #2a2e39;
    border-radius: 12px;
}

table {
    width: 100%;
    margin: 10px auto;
    margin-bottom: 0;
    
    border-collapse: separate;
    border-spacing: 0;
    color: var(--secondary-color);
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); */
    height: 100%;
}



thead th{
    padding: 1rem;
}

th,
td {
    padding: 0.6rem;
}

th:nth-child(3), td:nth-child(3),
th:nth-child(4), td:nth-child(4), /* Price */
th:nth-child(5), td:nth-child(5), /* 24h */
th:nth-child(6), td:nth-child(6), /* Market Cap */
th:nth-child(7), td:nth-child(7)  /* Volume */
{
    text-align: right;
}

tbody td {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* vertical-align: middle; */
    padding: 1rem;
    /* vertical-align: middle; */
    font-size: 0.95rem;
    font-weight: 500;
    border-bottom: 1px solid grey;
    /* border-bottom-left-radius: 12px; */
    /* border-bottom-right-radius: 12px; */
}

/* --- Specific Column Styling --- */

/* The Name Column (Image + Text) */
.coin-name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #fff;
}

.coin-logo {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.coin-symbol {
    color: #787b86;
    font-size: 0.8rem;
    text-transform: uppercase;
}
/* Form */

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #2a2e39;
    padding: 1.2rem;
    height: fit-content;
    border-radius: 12px;
    padding-bottom: 2rem;
}

legend{
    font-size: 20px;
}
label{
    display: flex;
    flex-direction: column;
}

input[type="submit"]{
    background-color: var(--accent2);
    color: var(--secondary-color);
    padding: .3rem;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
}

input[type="number"]{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: .3rem;
    border: .3px solid var(--accent2);
    border-radius: 12px;
    font-size: 1.1rem;
    margin-top: 6px;
}

select{
    padding: .3rem;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: .3px solid var(--accent2);
    margin-top: 6px;
}

/* --- Price Change Colors --- */
.positive {
    color: var(--accent1);
}

.negative {
    color:var(--accent3); 
}

.chart-cell {
    width: 120px;
    padding: 5px;
    vertical-align: middle;
}

.gainer{
    margin-bottom: 1rem;
}

/* Optional: Make the line glow slightly */
polyline {
    stroke-linecap: round;
    stroke-linejoin: round;
    filter: drop-shadow(0 0 2px rgba(16, 185, 129, 0.3));
}

.cry-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

footer{
    text-align: center;
}

.copy p,
.copy p span{
    color: var(--accent2);
}

/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: #d1d4dc;
}

.pagination-container button {
    padding: 8px 16px;
    background-color: #2a2e39;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.pagination-container button:hover {
    background-color: var(--accent2); 
}

.pagination-container button:disabled {
    background-color: #131722;
    color: #555;
    cursor: not-allowed;
}