:root{
    --primary-color: #0F172A; /*The main page background.*/
    --secondary-color: #F8FAFC; /*Main headings, body text.*/
    --accent1: #10B981; /* Price Up percentages and successful "Buy" buttons.*/
    --accent2: #8B5CF6; /*Branding, call-to-action buttons, or active navigation links*/
    --accent3: #ff0000; /* Price down */
}

*{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Raleway", sans-serif;
}


header {
    padding: 1rem;
    display: flex;
    align-items: center;
    color: var(--accent2);
}

header p{
    font-size: 28px;
    font-weight: 700;
}

main{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    /* align-items: center; */
    padding: 0 8rem;
}

h2{
    color: var(--accent2);
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    border-bottom: 4px solid var(--accent2);
    margin-bottom: 2rem;
}

.intro h2{
    color: var(--secondary-color);
}

.intro strong{
    justify-content: flex-start;
    color: var(--accent2);
}

section{
    max-width: 80%;
    padding-bottom: 3rem;
}

.purpose{
    max-width: 80%;
    /* text-align: left; */
    line-height: 1.2;
}

.scenario li{
    font-weight: bolder;
    color: var(--accent1);
}

li p{
    font-weight: 500;
}

.color-sample {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 8px;
    vertical-align: middle;
    border: 1px solid white;
}


footer{
    text-align: center;
    color: var(--accent2);
    font-size: 16px;
    padding: 1rem;
}