/* Black - #000000ff
Brownish yellow - #f8ab38ff */
@media only screen and (min-width: 55rem) {

    :root {
        --primary-color: #1f1f1f;
        --secondary-color: #f8ab38ff;
        --accent1: #ddd;
        --accent2: #eee;
    }

    header {
        padding: 1.4rem;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }

    .top {
        font-size: 1.5rem;
        padding-left: 2rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 2rem;
        gap: 60px;
    }

    nav.open {
        flex-direction: row;
        width: fit-content;
        gap: 60px;
        margin-top: 0;
    }

    .cardbox {
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        gap: 19px;
    }

    /* Business Directory */
    .cardbox section.business p,
    .cardbox section.business a {
        max-width: 12rem;
        width: 100%;
        text-align: left;
        margin-bottom: 0;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        padding: 0 3rem;
        column-gap: 10px;
    }

    .social {
        align-self: center;
        column-gap: 19px;
        /* padding-bottom: .8rem; */
    }

    /* Index page styling for the main and hero */
    .heroimg {
        background-size: cover;
        width: 100%;
        height: auto;
    }

    .weather-layout {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
    }


    .business-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .join-layout {
        display: flex;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    form {
        width: 800px;
    }

    .membership-cards {
        width: 600px;
        margin-top: 1rem;
    }

    /* discover */

    .discovery-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .place-card {
        min-height: 310px;
    }
}