/* Black - #000000ff
Brownish yellow - #f8ab38ff */
@media only screen and (min-width: 38rem) {

    :root {
        --primary-color: #1f1f1f;
        --secondary-color: #f8ab38ff;
        --accent1: #ddd;
        --accent2: #eee;
    }

    /* header {
    } */

    .top {
        padding-left: 3rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 3rem;
        gap: 60px;
    }

    nav.open {
        flex-direction: row;
        width: fit-content;
        gap: 60px;
        margin-top: 0;
    }

    .cardbox {
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        gap: 19px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        padding: 0 3rem;
        column-gap: 10px;
    }

    .social {
        align-self: center;
        column-gap: 19px;
        /* padding-bottom: .8rem; */
    }

}