/* Black - #000000ff
Brownish yellow - #f8ab38ff */

:root {
    --primary-color: #1f1f1f;
    --secondary-color: #f8ab38ff;
    --accent1: #ddd;
    --accent2: #eee;
}

*{
    padding: 0;
    margin: 0;
}

body{
    /* background-color: var(--primary-color); */
    color: #fafafa;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    /* background-color: var(--accent1); */
    background-color: #fafafa;
}

.top{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.top img{
    width: 35px;
}

.hamburger{
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fafafa;
    cursor: pointer;
    padding: .5rem;
}

.hamburger span,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background: #1f1f1f;
    margin: 5px 0;
    transition: 0.5s ease;
}

.hamburger.active::before{
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span{
    opacity: 0;
}

.hamburger.active::after{
    transform: rotate(-45deg) translate(5px, -5px);
}

nav{
    display: none;
}

nav a{
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
}

nav.open{
    display: flex;
    flex-direction: column;
    width: 100%;
    place-items: left;
    margin-top: 1rem;
    gap: 30px;
}

#active{
    color: var(--primary-color);
}

main{
    padding: 2rem 1rem;
    background-color:   var(--accent1);
    color: var(--primary-color);
}

.btn-container{
    display: flex;
    column-gap: 1rem;
}

button{
    border: none;
    /* background: none; */
    padding: .7rem;
    font-size: 18px;
    font-weight: bold;
    border-radius: 9px;
}

button:hover{
    cursor: pointer;
    background-color: #fafafa;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 2rem;
}

.cardbox{
    display: grid;
    gap: 19px;
}

.cardbox section{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
}

.cardbox section img{
    width: 100px;
    border-radius: 12px;
    margin-bottom: 9px;
}

.cardbox section p,
.cardbox section a{
    margin-bottom: 9px;
}

/* Business Directory */

.cardbox.flex{
    display: flex;
    flex-direction: column;
    gap: 10;
}

.cardbox section.business{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    min-height: 3.5rem;
    /* padding: 0; */
}

.cardbox section.business img{
    display: none;
}

.cardbox section.business p,
.cardbox section.business a{
    max-width: 12rem;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}


footer{
    /* background-color: var(--accent1); */
    background-color: #fafafa;
    color: var(--primary-color);
    text-align: left;
    padding: 2rem 1rem; 
}

footer img{
    width: 22px;
    height: 22px;
}

.social {
    display: flex;
    justify-content: left;
    column-gap: 8px;
    padding: .8rem;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

/* .social img {
    width: 22px;
    height: 22px;
} */

.social a:hover {
    background-color: #ddd;
}

.copy{
    padding-top: .8rem;
}

footer p{
    padding: .5rem;
    font-weight: bold;
}